
@{
    ViewBag.Title = "Home Page";
}


@if (Model.Message != null)
{

    <div class="row bgclass">
        <h2>@Model.Message</h2>
    </div>
}


<div class="row col-sm-12">

    <div class="row col-sm-6">
        <h2>Bosch LBB 3443/00 Lightweight Stereo Headphone</h2>
        <div class="col-sm-12 form-group">
            <img src="~/Content/Images/M1.jpg" alt="Image" class="mainImg" />
        </div>
        <div class="col-sm-12 form-group" id="imgContent">
        </div>
    </div>

    <div class="row col-sm-6">
        <div class="col-sm-12 form-group">
        </div>
        <div class="col-sm-12 form-group">
            Bosch LBB 3443/00 Lightweight Stereo Headphone<br />
            <br />
            SPECIAL ORDER
            <br />
            Ship Time: 7-14 business days

        </div>
        <div class="col-sm-12 form-group">
            <div id="Productresult"></div>


            <input type="button" value="Buy Now-2999 only" class="btn btn-danger" data-target="#myModal" data-toggle="modal" />

        </div>
    </div>

 @Html.Partial("~/Views/Shared/_ModalPopUp.cshtml")

</div>

<script type="text/javascript">

    $(document).ready(function () {
        PGT.initilize();
    });

</script>
